.containerOnboarding {
  width: 390px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;

    .slider-img {
      margin-top: 175px;
      width: 238px;
      height: 156px;
    }

    .slider-title {
      width: 256px;
      height: 50px;
      margin-top: 55px;
      color: #01748e;
      font-size: 25px;
    }

    .slider-dots {
      display: flex;
      justify-content: center;
      margin-top: 100px;
    }

    .dot {
      height: 17px;
      width: 17px;
      margin: 0 5px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(250, 156, 147);
      border-radius: 50%;
      display: flex;
      flex-direction: column;
    }
    .dot.active {
      background-color: rgb(250, 156, 147);
    }
  }

  p {
    width: 320px;
    height: 57px;
    font-size: Barlow;
    font-weight: 400;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.5em;
    margin: 5px;
  }
}