.animal_detail_component_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal_detail_line{
    width: 90vw;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    h1, p {
        display: inline;
    }
}

.epigraph{
    width: 90vw;
    border: solid 1px #e0e0e0;
    border-radius: 4pt;
    h2{
        color: rgb(1, 116, 142)
    }
}