.HomeContainer {
  width: 390px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  overflow: visible;

  h3 {
    font-size: 25px;
    margin-left: 18px;
    color: rgb(1, 116, 142);
    align-self: flex-start;
  }

  .Row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    height: 76px;
    margin-top: 28px;
    margin-bottom: 16px;

    .Square-one {
      width: 43px;
      height: 61px;
      background-color: rgb(189 210 214); 
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-right: 10px;
      transition: background-color 0.3s ease;
      background-image: url("../../assets/huellas.png");
      display: flex;
      align-items: flex-end;

      &:hover {
        background-color: rgb(200, 220, 224);
      }

      .P-text-one {
        font-size: 7px;
        margin-bottom: 11px;
      }
    }

    .Rectangle {
      width: 274px;
      height: 79px;
      background-color: rgb(189, 210, 214);
      border-radius: 4px;
      box-shadow: 0px 3px 6px rgba(0, 93, 114, 0.76);
      transition: background-color 0.3s ease;
      background-image: url("../../assets/huellas.png");
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgb(200, 220, 224);
      }

      .Rectangle-img {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 13px;
        margin-left: 13px;
      }

      .TextContainer {
        width: 180px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Status-h5 {
          width: 161px;
          height: 19px;
          color: rgb(1, 116, 142);
          font-size: 16px;
        }

        .P-text {
          width: 161px;
          height: 24px;
          font-size: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;
        }
      }
    }

    .Square-two {
      width: 43px;
      height: 61px;
      background-color: rgb(189 210 214);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-left: 10px;
      transition: background-color 0.3s ease;
      background-image: url("../../assets/huellas.png");
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &:hover {
        background-color: rgb(200, 220, 224);
      }

      .Apadrina-img {
        // margin-right: -14.5px;
      }
    }
  }

  .Slide-img {
    width: 40px;
    height: auto;
    margin-bottom: 22px;
  }

  .Content {
    width: 335px;
    height: auto;
    border-top: 1px solid rgb(189, 210, 214);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-top: 24px;
  }

  .Nov-h5 {
    color: rgb(1, 116, 142);
    font-size: 16px;
    margin-bottom: 24px;
  }

  h4 {
    font-size: 16px;
    width: 333px;
    height: 36px;
    background-color: rgb(250, 156, 147);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 30px;
  }

  .Content-ul {
    margin: 0;
    padding: 0;
  }

  .Navbar {
    width: 375px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -8px 8px rgba(91, 91, 91, 0.1),
      0 0 10px rgba(255, 255, 255, 1) inset;
  }

  .Content-img {
    width: 329px;
    height: 211px;
    border: 2pt solid rgb(250 156 147);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .Content-li {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fixed-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}