*{
    margin: 0px;
    box-sizing: unset;
    text-decoration:none;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .profilePhoto{
        width: 128px;
        height: 128px;
        margin-bottom: 64px;
        border-radius: 100%;
        object-fit: cover;    
        border: 5px solid #01748E;
    }

    a{
        text-decoration:none;
    }

    button {
        margin-top: 16px;
        margin-bottom: 0px;
        
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: flex-start;
            width: 80vw;
        
            border-radius: 4px;
            background-color: white;
            border: 1px solid #01748E;
            color: #01748E;
        
            img {
                margin-left: 16px;
                margin-right: 16px;
            }
        
            .pButton {
                margin-bottom: 0;
                width: 80%;
                height: 50px;
                display: flex;
                align-items: center;
                text-decoration:none;
                
            }

            
        }
}