.containerFormularioAdopcion{

div {
  width: 390px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0;
}

h2 {
    align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 20px;
  color: rgb(1 116 142);
}

h3 {
  width: 100%;
  height: 19px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

input[type="text"],
input[type="phone"] {
  width: 324px;
  height: 21px;
  border: none;
  border-bottom: 1px solid rgb(189 210 214); /* Solo borde inferior */
  padding-top: 20px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid rgb(189 210 214);
  background-color: blue;
}

.terminos-group {
  width: 279;
  height: 38;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
}

p {
  width: 255px;
  height: 14px;
  font-size: 12px;
  margin: 0;
}

button {
  width: 333px;
  height: 40px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(250 156 147);
}
}