*{
    box-sizing: unset;
}

.helpContainer {
    height: 100%;
    width: 80vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-left: 0px;


}

ul{
    padding-left: 0px;
}  

h1{
    color: #01748E;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60vw;
    border-bottom: #01748E 1px solid;
    text-align: center; 
    font-weight: bold;
}

h3 {
    color: #01748E;
    font-size: 20px;
}

p{
    margin-bottom: 5vh 
}

.contacto {
   margin-bottom: 10vh;

   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .tipo {
        text-align: center;
    }

    .dato {
        text-align: center;
    }
}