.animal_detail_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;



.animal_detail_image{

    margin-bottom: 5vh;

   img{ width: 100vw;
    height: 30vh;
    object-fit: cover;
   }
}

.animal_detail_head{
    width: 60vw;
    height: 7vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    margin-top: 25vh;

    h1 {
        margin: 0px;
        color: #01748E;
    }
}

.animal_detail_tabs{
    width: 100vw;
    height: 7vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    margin-top: 32vh;
    border-bottom: 1px solid #E5E5E5;

    h1 {
        margin: 0px;
        color: #01748E;
    }

    button {
        border: none;
        background-color: white;
        font-size: 1.5rem;
        font-weight: 500;
        color: #01748E;
        cursor: pointer;
        outline: none;
        margin-bottom: 5vh;
    }
}

.animal_detail_tabs{
    width: 100%;


}

.animal_detail_buttons {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    border-bottom: 1px solid #01748E;
    bottom: 0;
    margin-top: 10vh;
    justify-content: space-around;
}

    button {
       background-color: white;
       border: 1px solid #01748E;
       width: 30%;
       height: 40%;
}

}


