.animal_detail_image{
    width: 100vw;
    height: 94vh;

}

.animal_detail_image{
    width: 100%;
    height: 24vh;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.animal_detail_head{
    width: 60vw;
    height: 25vh;
    background-color: white;
}