@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  list-style-type: none;
}

html, body, #root, .App {
  width: 94vw;
  height: 100vw;
  // margin-left: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(189, 210, 214); 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 116, 142);
}

.App {
  @media (max-width: 375px) {
    width: 375px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.desktop {
  @media (min-width: 992px) {
    width: 100%;
  }
}