.SplashContainer {
  width: 390px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 189px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateY(-10px);
  }
}
